<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
  @for (user of users; track  user.id) {
    <div
         (click)="navigateToUser(user.login)"
         class="block p-4 border rounded-md hover:bg-gray-100 cursor-pointer fade-in-up">
      <h2 class="text-lg font-semibold">{{ user.login }}</h2>
      <p class="text-gray-600">ID: {{ user.id }}</p>
      <p class="text-gray-600">Score: {{ user.score }}</p>
    </div>
  } @empty {
    <div>
      No se encontraron usuarios
    </div>
  }
</div>
