<div class="flex flex-col min-h-screen">
  <header class="bg-primary text-primary-foreground shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <a routerLink="/"  class="text-2xl font-bold">
      GitHub User Search
      </a>
      <nav>
        <ul class="flex space-x-4">
          <li>
            <a routerLink="/" class="hover:underline">
            Home
            </a>
          </li>
          <li>
            <a href="https://github.com/eRendon" target="_blank" class="hover:underline">
              <app-icon [icon]="gitHubIcon"></app-icon>
              eRendon
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main [@routerTransition]="o.isActivated ? o.activatedRoute : ''" class="flex-grow container mx-auto px-4 py-8">
    <router-outlet #o="outlet"></router-outlet>
  </main>

  <footer class="bg-secondary text-secondary-foreground border-t">
    <div class="container mx-auto px-4 py-4 text-center">
      <a href="https://github.com/eRendon" target="_blank">&copy; 2024 Edwin Rendon. All rights reserved.</a>
    </div>
  </footer>
  <app-loader></app-loader>
  <app-toast></app-toast>
</div>
