<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">Buscar usuarios de GitHub</h1>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="container mx-auto p-4">
    <div class="flex space-x-2 mb-4">
      <app-input
        [icon]="faSearch"
        type="text"
        formControlName="searchTerm"
        class="flex-grow"
        placeholder="Escribe el nombre del usuario..."
      />
      <app-button variant="outline" type="submit" class="btn-primary" [disabled]="searchForm.invalid">Buscar</app-button>
    </div>

    <!-- Validaciones -->
    @if(searchForm.get('searchTerm')?.invalid && searchForm.get('searchTerm')?.touched) {
      <div class="text-red-600">
        @if(searchForm.get('searchTerm')?.errors?.['required']) {
          <div>
            Este campo es obligatorio.
          </div>
        }
        @if(searchForm.get('searchTerm')?.errors?.['minlength']) {
          <div>
            Debe tener al menos 4 caracteres.
          </div>
        }
        @if(searchForm.get('searchTerm')?.errors?.['forbiddenTerm']) {
          <div>
            No se permite la búsqueda de "gcpglobal".
          </div>
        }
      </div>
    }
  </form>

  @if(users.length > 0) {
    <div>
      <h2 class="text-xl font-bold mb-2">Resultados</h2>
      <app-user-list [users]="users"></app-user-list>
    </div>
  }

  <app-modal [isOpen]="isModalOpen"
             [error]="errorMessage"
             (onClose)="onCloseModal()">

  </app-modal>

  @if(errorMessage) {
    <div>
      <app-error-message [message]="errorMessage"></app-error-message>
    </div>
  }
</div>
